body {
	overflow-y: scroll;
	font-family: $font_base;
	font-weight: 300;
	font-size: $font_base_size;
	color: $text_color;
	cursor: default;
}

.section {
	min-height: 100vh;
	min-width: 320px;
}
	
.container {
	max-width: $content_width;
	margin: 0 auto;
	padding: 0 10px;

	&--flex {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&--verticalflex {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.header {
	align-items: center;
	
	&__logo {
		flex-grow: 1;
	}
}

.section {
	&-title {
		font-family: $font_title;
		font-size: em(72px);
		margin-bottom: cp(52px);
		&--center {
			text-align: center;
		}
		&--yellow {
			color: #f9b43b;
		}
	}

	&-subtitle {
		font-family: $font_subtitle;
		font-size: em(65px);
		color: #fff;
	}
}
