body {
  overflow-y: scroll;
  font-family: $font_base;
  font-weight: 300;
  font-size: $font_base_size;
  color: $grey_color;

  @include for-notebook {
    font-size: ($font_base_size - 1px);
  }

  @include for-tablet {
    font-size: $font_base_size;
  }
}

.wrapper {
  min-width: 320px;
  position: relative;
  cursor: default;
}

.section-title {
  font-family: $font_title;
  font-size: em(72px);
  margin-bottom: cp(52px);

  &--center {
    text-align: center;
  }
  &--yellow {
    color: $yellow_color;
  }
  &--white {
    color: #fff;
  }
}

.section-subtitle {
  font-family: $font_subtitle;
  font-size: em(65px);
  color: #fff;

  @include for-phone {
    font-size: em(48px);
  }
}

.container {
  max-width: $content_width;
  margin: 0 auto;
  padding: 0 10px;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-verticalflex {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
