@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		src: url('#{$file-path}.woff') format('woff'), url('#{$file-path}.woff2') format('woff2');
	}
}

@function em($target, $context: $font_base_size) {
	@if $target == 0 {
		@return 0;
	}
	@return $target / $context + 0em;
}
	
@function cp($target, $context: $content_width) {
	@if $target == 0 {
		@return 0;
	}
	@return $target / $context * 100%;
}