// fonts
$font_base: 'Ubuntu', sans-serif;
$font_title: 'Gagalin', sans-serif;
$font_subtitle: 'Lifehack', serif;
$font_base_size: 14px;

// color
$text_color: #2f3234;

// size
$content_width: 960px;

// z-index
$z-navpage: 10;