// fonts
$font_base: 'Ubuntu', sans-serif;
$font_title: 'Gagalin', sans-serif;
$font_subtitle: 'Lifehack', serif;
$font_base_size: 14px;

// color
$grey_color: #2f3234;
$grey_hover_color: #1f2122;
$accent_color: #e45028;
$accent_hover_color: #c1401e;
$yellow_color: #f9b43b;
$yellow_gradient_color: #eb8c38;

// size
$content_width: 960px;

// z-index
$z-navpage: 10;
$z-popup: 50;
$z-accordion-menu-text: 40;
$z-accordion-menu-close: 45;
$z-hamburger: 30;
$z-menu-mobile: 20;
$z-composition: 10;