.menu {
  position: relative;
  display: flex;
  background: url(images/menu-bg.jpg) no-repeat center / cover;
}

.menu__title {
  position: absolute;
  top: 110px;
  left: cp(93px, 1100px);

  @include phone {
    left: 4%;
  }
}

.menu__content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65%;

  @include tablet {
    width: 100%;
  }
}
