.best {
  text-align: center;
  background: url(../images/best-bg.jpg) no-repeat center / cover;
}

.best__item {
  width: 33%;
  padding: 0 cp(15px);
}

.best__img {
  width: 97px;
  height: 89px;
  margin: 0 auto;
  margin-bottom: 33px;
}

@each $icon in (meat, hand, natural) {
  .best__img--#{$icon} {
    background: url(../images/icons/#{$icon}.svg) no-repeat center bottom;
  }
}

.best__head {
  font-family: $font_subtitle;
  font-size: em(24px);
  margin-bottom: cp(25px, 310px);
}

.best__text {
  line-height: em(24px);
  opacity: 0.8;
}