.first {
  background: url(../images/first-bg.jpg) no-repeat center / cover;
  padding-top: 13px;
}

.first__content {
  flex-grow: 1;
  align-items: center;
}

.first__img,
.first__text {
  width: 50%;
  padding: 10px;
}

.first__text {
  padding-top: 70px;
}

.first__down {
  margin: 38px auto;
  width: 29px;
}