.first {
  // min-height: 100vh;
  background: url(../images/first-bg.jpg) no-repeat center / cover;
  // padding-top: 13px;
}

.first__content {
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  @include tablet {
    flex-direction: column;
  }
}

.first__img,
.first__text {
  padding: 10px;
}

.first__img {
  width: 45%;

  @include tablet {
    width: 50%;
  }

  @include phone {
    width: 80%;
  }
}

.first__text {
  width: 55%;
  padding-top: 50px;

  @include tablet {
    text-align: center;
    width: 90%;
    padding-top: 0;
  }
}

.first__down {
  margin: 0 auto 10px;
  width: 29px;
  transition: .3s all ease;

  &:hover {
    transform: scale(1.1);
  }
}