.menu {
  min-height: 100vh;
  position: relative;
  display: flex;
  background: url(../images/menu-bg.jpg) no-repeat center / cover;
}

.menu__title {
  width: 35vw;
  padding-top: 100px;
  padding-right: 50px;
  text-align: right;

  @include for-tablet {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 35%;
  }
}

.menu__content {
  width: 65vw;

  @include for-tablet {
    width: 100%;
  }
}