.menu {
  position: relative;
  background: url(../images/menu-bg.jpg) no-repeat center / cover;
  height: 100%;
}

.menu__title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 35%;
  padding-top: 100px;
  padding-right: 50px;
  text-align: right;
}

.menu__content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65%;
  min-height: 350px;
}