.accordion {
  color: #fff;
}

.accordion__item {
  margin-bottom: 35px;
  transition: .3s all ease;

  &.active {
    & > .accordion__head {
      color: $yellow_color;

      &::before {
        transform: rotate(180deg);
      }
    }

    & > .accordion__card {
      height: 100%;
      padding: 18px;
    }
  }
}

.accordion__head {
  font-family: $font_title;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: .3s all ease;

  @include for-tablet {
    font-size: em(24px);
  }

  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 4.5px 0 4.5px;
    border-color: #f9b43b transparent transparent transparent;
    margin-right: 10px;
  }

  &:hover {
    color: rgba(#fff, .6);
  }
}

.accordion__card {
  height: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  transition: .3s all ease;

  @include for-tablet {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
}

.accordion__img {
  min-width: 100px;
  min-height: 100px;
  margin-right: 21px;
  border-radius: 50%;
  overflow: hidden;
  background: no-repeat center / cover;

  @include for-tablet {
    margin-right: 0;
    margin-bottom: 22px;
  }
}

.accordion__subs {
  max-width: 208px;
}

.accordion__title {
  font-weight: 700;
  margin-bottom: 20px;
}

.accordion__text {
  line-height: em(21px);
}