.accordion-menu {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  height: 100%;
}

.accordion-menu__item {
  position: relative;
  display: flex;

  &.active {
    & > .accordion-menu__title {
      display: flex;
      color: $yellow_color;

      &:hover {
        color: rgba($yellow_color, .7);
      }
    }
    & > .accordion-menu__text {
      display: block;
    }
    & > .accordion-menu__link {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.accordion-menu__title,
.accordion-menu__link {
  width: 82px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  transition: .3s color ease;

  &:hover {
    color: rgba(#fff, .7);
  }
}

@each $bg in (meat, vegan, diet) {
  .accordion-menu__title--#{$bg},
  .accordion-menu__link--#{$bg} {
    background: url(../images/accordion-bg-#{$bg}.jpg) no-repeat center / cover;
  }
}

.accordion-menu__title {
  display: none;
}

.accordion-menu__head {
  font-family: $font_title;
  font-size: em(40px);
  writing-mode: vertical-lr;
  padding-top: 40px;
  transform: rotate(180deg);
}

.accordion-menu__text {
  display: none;
  background: rgba(#363534, .92);
  line-height: em(28px);
  padding: cp(60px, 760px) cp(35px, 760px);
  z-index: $z-accordion-menu-text;
}