.energy {
  position: absolute;
  left: 0;
  bottom: 20%;
  color: #fff;
  font-family: $font_title;
  opacity: 0.6;
  text-align: center;

  @include tablet {
    top: cp(50px);
    right: 0;
    bottom: auto;
    left: auto;
  }

  @include phone {
    top: 10px;
  }
}

.energy__quantity {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url(../images/sprite.svg#kkal) no-repeat center;
  width: 60px;
  height: 60px;
  font-size: em(20px);
  margin-bottom: 5px;
  padding-bottom: 11px;
  box-sizing: border-box;
}