.nav {
  font-size: em(13px);
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 14px;
  color: #fff;

  @include notebook {
    display: none;
  }
}

.nav__item {
  margin-left: 10px;

  &::before {
    content: '\25cf';
    margin-right: 8px;
  }

  &:first-child {
    margin-left: 0;

    &::before {
      display: none;
    }
  }
}

.nav__link {
  transition: .3s color ease;

  &:hover {
    color: rgba(#fff, 0.6);
  }
}