.nav {
  font-size: em(13px);
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 14px;
  color: #fff;

  @include for-notebook {
    order: 1;
    margin-left: 14px;
    margin-right: 0;
  }
}

.nav__list {
  @include for-notebook {
    display: none;
    position: absolute;
    top: 0;
    min-height: 100vh;
    right: 0;
    left: 0;
    background: rgba($grey_color, .92);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    // для .header__button z-index: -2;
  }
}

.nav__item {
  margin-left: 10px;

  &::before {
    content: '\25cf';
    margin-right: 8px;

    @include for-notebook {
      margin-bottom: 20px;
    }
  }

  &:first-child {
    margin-left: 0;

    &::before {
      display: none;
    }
  }

  @include for-notebook {
    font-size: em(21px);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
}

.nav__link {
  transition: .3s color ease;

  &:hover {
    color: rgba(#fff, 0.6);
  }
}