.popup {
  // display: flex;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($grey_color, .92);
  justify-content: center;
  align-items: center;
  z-index: $z-popup;
}

.popup__block {
  position: relative;
  display: none;
  max-width: 418px;
  padding: 30px 20px;
  border-radius: 5px;
  background: #fff;
}

.popup__close {
  position: absolute;
  top: 28px;
  right: 18px;
  width: 20px;
  height: 20px;
  transition: .3s opacity ease;

  &:hover {
    opacity: 0.8;
  }
}

.popup__close-top,
.popup__close-bottom {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  background: $accent_color;
  border-radius: 2px;
}

.popup__close-top {
  top: 45%;
  transform: rotate(45deg);
}
.popup__close-bottom {
  top: 30%;
  transform: rotate(-45deg);
}

.popup__title {
  font-family: $font_title;
  margin-bottom: 30px;
}

.popup__text {
  line-height: 24px;
}

.popup__mes {
  display: none;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
}

.popup__mes-text {
  margin-bottom: 18px;
}
