.social {
  display: flex;
  justify-content: space-between;
}

.social__item {
  display: flex;
  align-items: center;
  margin-left: 20px;
  opacity: 0.3;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    opacity: 1;
    transition: .3s opacity ease;
  }
}

.social__link {
  width: 20px;
  height: 20px;

  &--vk {
    width: 27px;
  }
}

@each $icon in (vk, fb, inst, twitter) {
  .social__link--#{$icon} {
    background: url(../images/icons/#{$icon}.svg) no-repeat center / contain;
  }
}